<!-- formulaire d'inscription-->

<form id="myForm" action="/inscription_form" method="post" class="ui form">
    <div class=field"><label for="Nom">Nom</label>
        <input name="Nom" id="Nom" required></input>    <label for="Prenom">Prenom</label>
        <input name="Prenom" id="Prenom" required></input>    <label for="Age">Age</label>
        <input name="Age" type="number" id="Age" required></input>    <label for="Password">Password</label>
        <input name="Password" id="Password" required></input>    <label for="Email">Email</label>
        <input name="Email" type="Email" id="Email" required></input>    <label for="adresse">adresse</label>
        <input name="adresse" id="adresse" required></input></div><button type="submit" class="ui blue labeled submit icon button">
    <i class="icon edit"></i> Envoyer</button>
</form>