<!-- fenêtre de Connexion-->
<form id="myForm" action="/inscription_form" method="post" class="ui form">
  <div class="field">
    <label name="Email" for="Email">Email</label>
    <textarea name="Email" id="Email"></textarea>
    <label for="Password">Password</label>
    <textarea name="Password" id="Password"></textarea>
  </div>
  <button type="submit" class="ui blue labeled submit icon button">
    <i class="icon edit"></i> Connexion
  </button>
</form>
