<div class="container">
  <div
    id="products-carousel"
    data-ride="carousel"
    class="carousel slide carousel-fade"
  ></div>
</div>

<div class="hero__item set-bg" data-setbg="img/hero/banner.jpg">
  <div class="hero__text"></div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h3><i class=""></i> Equipements d'entretien de piscine collective</h3>
        <p>Découvrez notre gamme professionnelle</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h3>Vous êtes un Club ? et n'avez pas encore de matériel sportif ?</h3>
        <p>
          Découvrez nos tarifs préférentiels, et accéder aux offres de nos
          partenaires
        </p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h3>Vous souhaitez vendre votre matériel sportif ?</h3>
        <p>
          Inscrivez-vous et vendez votre matériel, Vous avez la possiblité
          d'ajouter vos produits à partir de votre espace Dashboard - Mes
          produits
        </p>
      </div>
    </div>
  </div>
</div>
