

<section class="hero">
    <div class="container">
<div class="w3-bar w3-green">
    <button class="w3-bar-item w3-button tablink w3-red" onclick="openCity(event,'London')">Inscription</button>
    <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Paris')">Connexion</button>
</div>

<div id="London" class="w3-container w3-border city">
    <h2>Inscription</h2>
   <%- include ('apparence/onglet') -%>
</div>

<div id="Paris" class="w3-container w3-border city" style="display:none">
    <h2>Connexion</h2>
    <%- include ('apparence/onglet2') -%>
</div>
</div>
</section>

<script>
function openCity(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}

</script>