<!-- Hero Section Begin -->
<div class="hero__item set-bg" data-setbg="img/hero/banner.jpg">
  <div class="hero__text"></div>
</div>
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->


</section>
<!-- Breadcrumb Section End -->

<!-- Product Section Begin -->
<section class="product spad">
  <div class="container">
   
      <div class="col-lg-9 col-md-7">
        
        
        <div class="row">
          <% if(locals.result){ locals.result.forEach(function(product) { %>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product__item">
              <div
                class="product__item__pic set-bg"
                data-setbg="img/<%= product.LienPhoto1 %>"
              >
                <ul class="product__item__pic__hover">
                  <li>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </li>
                  <li>
                    <a href="/viewproduit?idProd=<%= product.idProd %>"><i class="fa fa-retweet"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-shopping-cart"></i></a>
                  </li>
                </ul>
              </div>
              <div class="product__item__text">
                <h6><a href="#"><%= product.libelle %></a></h6>
                <h5><%= product.prix %>€</h5>
              </div>
            </div>
          </div>
          <% }) } %>
        </div>
        
      </div>
    </div>
  </div>
</section>
<!-- Product Section End -->
